body {
    font-family: "Open Sans", sans-serif;
}

header h1 {
    font-family: "Sirin Stencil";
}

header h2 {
    font-family: "Sirin Stencil", cursive;
}

h2, h3 {
    font-family: "Sirin Stencil";
}

h2 {
    color: #f57208;
}

header h2 {
    color: orange;
}

footer {
    background-image: linear-gradient(orange, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, black, gray, orange);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: black;
}

.jumbotron {
    margin: 0;
}


footer a {
    color:darkgreen;
    text-decoration: none;
}   

#telColor, #emailColor {
    color:darkgreen;
    text-decoration: none;
}   

