body {
    font-family: "Open Sans", sans-serif;
}

header h1 {
    font-family: "Sirin Stencil";
}

header h2 {
    font-family: "Sirin Stencil", cursive;
}

h2, h3 {
    font-family: "Sirin Stencil";
}

h2 {
    color: #f57208;
}

header h2 {
    color: orange;
}

footer {
    background-image: linear-gradient(orange, black);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, black, orange);
    color: silver;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: black;
}

.jumbotron {
    margin: 0;
}


footer a {
    color: silver;
}   

#telColor, #emailColor {
    color:black;
}   

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid black;
    border-radius: 55px 55px 55px 55px; /* Rounds off corners */
    overflow: hidden;
}

.center {
    border: 5px;
    text-align: center;
}

/* Applies image only to main page background. Move code block to body if you want it to apply to all the pages. */

.splash {
    background-image: url("../img/arizona2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

/* Rounds button */

.btn {
    border-radius: 25px;
}

/* Makes carousel Taller */

/*.carousel .carousel-item {
    height: 500px;
}
  
.carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
}
*/

/* Center button trial and error */

/*.container-button {
    height: 200px;
    position: relative;
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}